.home {
    display: flex;
    justify-content: center;
    width: 1240px;
    margin-top: 140px;

    font-family: "Fira Sans Condensed", sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 57.6px;
    text-align: left;
    color: #ffffff;
}
