.card {
    position: relative;
    overflow: hidden;
    width: 387px;
    height: 378px;

    &__img {
        position: relative;
        width: 387px;
        height: 378px;
        border-radius: 12px;
        object-fit: cover;
        z-index: 1;
        transition: all 0.3s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__box {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 128px;
        height: 128px;
        top: 17px;
        right: 17px;
        z-index: 2;
    }
    &__decoration {
        position: absolute;
        top: 0;
        right: 0;
        width: 25px;
        height: 25px;
    }
    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #313341;
        color: white;
        width: 122px;
        height: 122px;
        bottom: 0;
        left: 0;
        border-radius: 5px;
        font-family: "Fira Sans Condensed", sans-serif;
        font-size: 24px;
        font-weight: 600;
        line-height: 28.8px;
    }
}
